<div class="well sidebar-nav">
  <h3>リンク</h3>
  <ul class="nav nav-list">
    <li><%= link_to "マイページ", "/users/#{@current_user.id}" %></li>
    <li><%= link_to "みんなのスキルを見る", "/users/all_skills" %></li>
    <li><%= link_to "スキル 追加/編集", "/skills" %></li>
    <li><%= link_to "ユーザ 一覧", "/users" %></li>
    <li><%= link_to "FBページ", "https://www.facebook.com/groups/148250938859019/" %></li>
  </ul>
</div><!--/.well -->